* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;   
    height: 100vh;
}

.change-password-form-container {
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: #F8F9FA;
    padding-top: 20px;
}

.change-password-form-container .change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.change-password-form .logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.logo img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.reset-password-form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}

.reset-password-form-container .form-title {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    padding-bottom: 4px;
    line-height: 33px;
    font-weight: 600;
    font-size: 18px;
    /* letter-spacing: 2px; */
}

.reset-password-form-container .reset-password-form,
.reset-password-form-container .confirm-password-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px ;
    gap: 4px;
}

.reset-password-form .span-15,
.confirm-password-form .span-15{
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
}

.change-pwd-input,
.confirm-pwd-input {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.change-pwd-input .new-pwd,
.confirm-pwd-input .confirm-pwd {
    width: 100%;
    height: 36px;
    padding: 8px;
    border: 1px solid #D4D4D7;
    border-radius: 6px;
} 

.change-pwd-input .hide-img,
.confirm-pwd-input .hide-img {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
}

.hide-img svg {
    width: 18px;
    height: 18px;
    color: #ced4da;
}

.container-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.container-btn .confirm-btn {
    width: 155px;
    height: 40px;
    color: #ffffff;
    font-weight: 600;
    background-color: #FF9138;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.frame-bg-container {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    padding-top: 40px;
    padding-left: 60px;
    background-color: #ffffff;
}

.frame-bg-container .frame-bg {
    width: 90%;
    height: 70%;
}

.frame-bg .frame-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

