* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;   
    height: 100vh;
}

.forget-password-form-container {
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: #F8F9FA;
    padding-top: 20px;
}

.forget-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.forget-password-form .logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    mix-blend-mode: multiply;
}

.logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.reset-password-form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.reset-password-form-container .title-form {
    padding-bottom: 4px;
    line-height: 33px;
    font-weight: 600;
    font-size: 18px;
    /* letter-spacing: 2px; */
}

.reset-password-form-container .reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.reset-password-form .span-15 {
    font-size: 16px;
}

.reset-password-form .user-input {
    height: 38px;
    padding: 8px;
    border: 1px solid #D4D4D7;
    border-radius: 6px;
} 

.container-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.container-btn .cancel-btn {
    width: 150px;
    height: 40px;
    color: #FF9138;
    background-color: transparent;
    border: 1px solid #FF9138;
    border-radius: 6px;
    cursor: pointer;
}

.container-btn .continue-btn {
    width: 150px;
    height: 40px;
    color: #ffffff;
    background-color: #FF9138;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.frame-bg-container {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    padding-top: 40px;
    padding-left: 60px;
    background-color: #ffffff;
}

.frame-bg-container .frame-bg {
    width: 90%;
    height: 70%;
}

.frame-bg .frame-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}